h2 {
  color: #022D73;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: #b2e5fc;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.navbar li {
  display: inline;
  padding: 15px 5px;
  margin: 0px 15px;
}

main {
  background-image: url("/img/background.jpg");
  background-size: contain;
}
main .container {
  padding: 50px;
}
main .container .cards {
  display: flex;
  flex-wrap: wrap;
}
main .container .cards .card {
  width: calc((100% / 3) - 20px);
  margin: 10px 10px 0px 0px;
}
main .container .cards .card img {
  width: 100%;
}
