.logo{
    display: flex;
    justify-content: center;
    margin: 35px;
}

.navbar {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.navbar li{
    display: inline;
    padding: 15px 5px;
    margin: 0px 15px;
}